@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bilbo&display=swap');

body {
  /* background-image: url(./img/bg.jpeg);
  background-size: 100%;
  background-repeat: no-repeat; */
  background: url(./img/bg.jpeg) no-repeat center center fixed;
}

ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  /* background-color: rgb(105,105,105, 0.3) */
}

li {
  font-family: 'Allura', cursive;
  animation: light 1.3s linear infinite;
  font-size: 70px;
}


@-webkit-keyframes light {
  0% {
    color: #fff1d6;
    text-shadow: none;
  }
  90% {
    color: f1c40f;
    text-shadow: none;
  }
  100% {
    color: #f1a60f;
    text-shadow: 0 0 1rem #d35400, 0 0 7rem #d35400;
  }
}


.centerDiv ul li:nth-child(1) {
  animation-delay: 0s;
}

.centerDiv ul li:nth-child(2) {
  animation-delay: 0.1s;
}

.centerDiv ul li:nth-child(3) {
  animation-delay: 0.2s;
}
.centerDiv ul li:nth-child(4) {
  animation-delay: 0.3s;
}
.centerDiv ul li:nth-child(5) {
  animation-delay: 0.4s;
}

h1 {
  text-align: right;
}

.container {
  margin: 0px 300px 90px 300px;
  /* top right bottom left */
  font-family: 'Bilbo', cursive;
  font-size: 20px;
  min-width: 600px;
}

.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  opacity: 0.9;
}

button {
  border: none;
  padding: 20px;
  margin-top: 20px;
  font-size: 30px;
  width: 100%;
  font-family: 'Bilbo', cursive;
  background-color: aliceblue;
}

button:hover {
  opacity: 1;
  background-color: rgb(129, 156, 148);
  color: white;
}

/* .contentDiv {
  display: flex;
  justify-content: center;
} */

.content {
  display: none;
  background-color: rgba(240, 248, 255, 0.5);
  height: 300px;
  padding: 20px;
  opacity: 0.9;
}




img {
  width: auto;
  height: 300px;
  float: left;
  padding-right: 10px;

}

/* responsive design */

@media only screen and (max-width: 600px) {
  body {
    background-image: url("./img/mediabg.jpeg");
    background-size: cover;
  }

  /* ul {
    display: none;
   } */

   li {
    animation: none;
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
    color: white
   }

   .container {
      all:unset;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: white;
      font-family: Tahoma, sans-serif;
   }

   button {
    display: flex;
    align-items: center;
    margin: 4px;
    font-size: 15px;
    width: 100%;
    background-color: rgb(107, 1, 1, 0.5);
    color: white;
    font-family: Tahoma, sans-serif;
   }

   button:hover {
    background-color: rgb(107, 1, 1);
  }

   .tabs {
    flex-direction: column;
    margin: 0;
    width: 75%;
   }

   .content {
    margin-top: 5px;
    background-color: rgb(107, 1, 1, 0.5)
   }

   .contentDiv {
    width: 75%;
    height: fit-content;
   }

   img {
    display: none;
   }

}